#link {
    color: #ffffff; /* start white */
    transition: color 250ms ease;
}
#link svg {
    fill: currentColor;
    transition: fill 250ms ease;
}
#link:hover,
#link:hover a,
#link a:hover {
    color: #ADD8E6; /* light blue on hover */
}
