.role-of-trauma{padding-top:0.625rem}@media(min-width: 62em){.role-of-trauma{padding-top:4rem;padding-bottom:3.75rem}}.role-of-trauma .container{max-width:1252px}.role-of-trauma .highlight{color:#8c5c8a;font-weight:800}
